@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
    var postUrl = "tich-hop-thanh-toan-momo-voi-asp-net-core-7d5e4hP";
}
@{
    var identity = (ClaimsIdentity)User.Identity;

    // Lấy giá trị của các đối tượng Claim
    string firstName = identity.FindFirst("FirstName")?.Value;
    string lastName = identity.FindFirst("LastName")?.Value;
    string userId = identity.FindFirst("UserId")?.Value;
    string userPhone = identity.FindFirst("UserPhone")?.Value;
    string userAvt = identity.FindFirst("UserAvatar")?.Value;
}
<div class="text-center">
    <h1 class="display-4">Thanh toán Momo</h1>

    <div class="container">
        <form action="/PaymentMomo/CreatePaymentUrl" id="frmCreateOrder" method="POST">
            <div class="form-group">
                <label  for="FullName">Tên khách hàng</label>
                <input readonly class="form-control"
                       id="FullName"
                       name="FullName"
                       type="text"
                       value="@lastName@firstName">
            </div>
            <br />
            <div class="form-group">
                <label for="Amount">Số tiền</label>
                @* <input class="form-control"
                       id="Amount"
                       name="Amount"
                       type="text"
                       value="50000"> *@
                <select name="Amount" id="Amount" class="form-control">
                    <option value="10.000">10.000</option>
                    <option value="50.000">50.000</option>
                    <option value="100.000">100.000</option>
                    <option value="200.000">200.000</option>
                    <option value="500.000">500.000</option>
                </select>
            </div>
            <br />
            <div class="form-group">
                <label for="Note">Nội dung thanh toán</label>
                <textarea required class="form-control"
                          cols="20"
                          id="Note"
                          name="Note"
                          rows="2">@lastName@firstName Chuyen tien</textarea>
            </div>
            <br />
            <button type="submit" class="btn btn-primary">Thanh toán (Checkout)</button>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

    });
</script>