@model mojoin.Models.Momo.MomoExecuteResponseModel

@{
    ViewData["Title"] = "Home Page";
    var postUrl = "tich-hop-thanh-toan-momo-voi-asp-net-core-7d5e4hP";
}

<div class="text-center">
    <h1 class="display-4">Thanh toán Momo </h1>

    <div class="container">
        <h1 class="text-success">Thanh Toán Thành Công</h1>
        <p>Order ID: <strong>@Model.MoMoId</strong></p>
        <p>Amount: <strong>@String.Format("{0:#,##0}", @Model.Amount)</strong></p>
        <p><strong>@Model.OrderInfo</strong></p>
    </div>
</div>

<script>
    $(document).ready(function () {

    });
</script>