<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mojoin</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mojoin.styles.css" asp-append-version="true" />
</head>
<body ng-app="mogiApp" class="ng-cloak1 ng-scope" style="overflow: auto;">
    <div class="mogi-navbar">
        <div class="mogi-navbar-container">
            <div class="mogi-navbar-logo">
                <a href="/"><img src="~/images/logo.png" width="100" height="31" alt="Mogi.vn" title="Tìm kiếm bất động sản, nhà đất cần bán và cho thuê tại Việt Nam"></a>
            </div>

            <div class="navbar-menu">
                @*<a class="" href="/mua-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Tìm mua</a>*@
                <a class="" href="/thue-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Tìm thuê</a>
                @*<a class="" href="/gia-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Giá nhà đất</a>*@
                <a class="" href="/hoi-dap" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Hỏi đáp</a>
                @*<a class="" href="/tim-moi-gioi" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Môi giới</a>
                <a class="" href="/du-an" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">Dự án</a>*@
                <a class="hidden-xs ng-scope" ng-if="!Profile.isAuth()" id="menu-signin" href="/dang-nhap" gtm-event="link" gtm-cat="menu" gtm-act="user-signin">Đăng nhập</a>
            </div>

            <div class="navbar-searchbox ng-scope" ng-controller="searchBarController">

                <div class="search-box-text clearfix" ng-click="showSearchBox()">
                    <span ng-bind="Keyword || 'Từ khóa, Đường, Quận, Dự án hoặc địa danh ...'" class="ng-binding">Từ khóa, Đường, Quận, Dự án hoặc địa danh ...</span>
                    <i class="fa fa-search"> </i>
                </div>
            </div>

            <div class="navbar-user">
                <!-- ngIf: Profile.isAuth() --><div ng-if="Profile.isAuth()" class="navbar-user-profile ng-scope">
                    <a href="unsafe:javascript:void()" data-toggle="dropdown" role="button" aria-expanded="false" gtm-event="all" gtm-cat="menu" gtm-act="user-menu">
                        <span class="avatar ng-binding" ng-bind-html="Profile.getAvatar()"><i class="fa fa-user-circle"></i></span>
                        <!-- ngIf: Profile.Message.HasValue -->
                        <div class="last-name">
                            <div ng-bind="Profile.Data.LastName" class="ng-binding">vu</div>
                        </div>
                    </a>
                    <div class="personel-menu">
                        <div>
                            <div class="personel">
                                <div class="personal-avatar ng-binding" ng-bind-html="Profile.getAvatar()"><i class="fa fa-user-circle"></i></div>
                                <div class="info">
                                    <div class="name">
                                        <div class="info-name">
                                            <div ng-bind="Profile.Data.LastName + ' ' +Profile.Data.FirstName" class="ng-binding">vu thi</div>
                                        </div>
                                        <!-- ngIf: !Profile.isNormal() --><span ng-if="!Profile.isNormal()" class="info-check-icon ng-scope">
                                            <svg width="18" height="18"><use xlink:href="/content/mogi.svg#check-circle-o"></use></svg>
                                        </span><!-- end ngIf: !Profile.isNormal() -->
                                    </div>
                                    <!-- ngIf: !Profile.isNormal() --><div ng-if="!Profile.isNormal()" class="user-type ng-scope">
                                        <a href="/trang-ca-nhan/mogipro" ng-bind-html="Profile.getUserTypeLabel()" class="ng-binding">Thành viên Tiết kiệm</a>
                                    </div><!-- end ngIf: !Profile.isNormal() -->
                                </div>
                            </div>
                            <!-- ngIf: !Profile.isNormal() && Profile.Data.SupportStaff !== null -->
                        </div>



                        <div ng-class="Profile.isNormal() === true || (Profile.isNormal() === false &amp;&amp; Profile.Data.SupportStaff === null) ? ['main-menu border-top'] : ['main-menu']" class="main-menu border-top">
                            <div>
                                <a href="/trang-ca-nhan/quan-ly-tin" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-managed-post">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#house-square"></use></svg></span>
                                    <span>Quản lý tin bất động sản</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/thong-tin-ca-nhan" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-profile">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#user"></use></svg></span>
                                    <span>Thông tin tài khoản</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/tim-kiem-da-luu#message" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-alert">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bell"></use></svg></span>
                                    <span>Thông báo</span>
                                    <!-- ngIf: Profile.Message.HasValue -->
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/bat-dong-san-yeu-thich" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-favorite">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#heart"></use></svg></span>
                                    <span>Bất động sản đã lưu</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/tim-kiem-da-luu" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-saved-search">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bookmark"></use></svg></span>
                                    <span>Tìm kiếm đã lưu</span>
                                </a>
                            </div>
                        </div>
                        <div class="action-menu border-top">
                            <div>
                                <a href="/trang-ca-nhan/doi-mat-khau" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-password">
                                    <span>Thay đổi mật khẩu</span>
                                </a>
                            </div>
                            <div>
                                <a href="/logoff" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-signout">
                                    <span>Thoát</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div><!-- end ngIf: Profile.isAuth() -->
                <a class="navbar-user-posting" href="/Dangtin/Index" gtm-event="link" gtm-cat="posting" gtm-act="add-posting">Đăng tin</a>
            </div>
            <div class="navbar-hamburger">
                <i class="fa fa-bars" ng-click="openSlideMenu()"></i>


                <div class="hamburger-menu slideMenu" id="mogi-slide-menu">
                    <div class="close-icon" ng-click="closeSlideMenu()"><i class="fa fa-close" aria-hidden="true"></i></div>
                    <!-- ngIf: Profile.isAuth() --><div ng-if="Profile.isAuth()" class="ng-scope">
                        <div class="info-detail">
                            <div class="detail-avatar ng-binding" ng-bind-html="Profile.getAvatar()"><i class="fa fa-user-circle"></i></div>
                            <div class="detail-name">
                                <div class="name-fullname">
                                    <div>
                                        <div ng-bind="Profile.Data.LastName + ' ' +Profile.Data.FirstName" class="ng-binding">vu thi</div>
                                    </div>
                                    <!-- ngIf: !Profile.isNormal() --><div ng-if="!Profile.isNormal()" class="ng-scope">
                                        <svg width="18" height="18"><use xlink:href="/content/mogi.svg#check-circle-o"></use></svg>
                                    </div><!-- end ngIf: !Profile.isNormal() -->
                                </div>
                                <!-- ngIf: !Profile.isNormal() --><div ng-if="!Profile.isNormal()" class="name-user-type ng-scope">
                                    <a href="/trang-ca-nhan/mogipro" ng-bind-html="Profile.getUserTypeLabel()" class="ng-binding">Thành viên Tiết kiệm</a>
                                </div><!-- end ngIf: !Profile.isNormal() -->
                            </div>
                        </div>
                        <div class="slideMenu-user-posting">
                            <a href="/dang-tin" gtm-event="link" gtm-cat="posting" gtm-act="add-posting">Đăng tin</a>
                        </div>
                        <!-- ngIf: !Profile.isNormal() && Profile.Data.SupportStaff !== null -->
                    </div><!-- end ngIf: Profile.isAuth() -->
                    <!-- ngIf: !Profile.isAuth() -->
                    <div class="menu-tiles">
                        <div class="tile-item">
                            <a href="/mua-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-buy"></use></svg>
                                </div>
                                <div class="tile-title"> Tìm mua</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/thue-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-rent"></use></svg>
                                </div>
                                <div class="tile-title"> Tìm thuê</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/gia-nha-dat" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-house-price"></use></svg>
                                </div>
                                <div class="tile-title"> Giá nhà đất</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/hoi-dap" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-ask"></use></svg>
                                </div>
                                <div class="tile-title"> Hỏi đáp</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/tim-moi-gioi" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-agent"></use></svg>
                                </div>
                                <div class="tile-title"> Môi giới</div>
                            </a>
                        </div>
                        <div class="tile-item">
                            <a href="/du-an" gtm-event="link" gtm-cat="menu" gtm-act="top-menu">
                                <div class="tile-icon">
                                    <svg width="20" height="20"><use xlink:href="/content/mogi.svg#menu-project"></use></svg>
                                </div>
                                <div class="tile-title"> Dự án</div>
                            </a>
                        </div>
                    </div>
                    <!-- ngIf: Profile.isAuth() --><div ng-if="Profile.isAuth()" class="ng-scope">



                        <div ng-class="Profile.isNormal() === true || (Profile.isNormal() === false &amp;&amp; Profile.Data.SupportStaff === null) ? ['main-menu border-top'] : ['main-menu']" class="main-menu border-top">
                            <div>
                                <a href="/trang-ca-nhan/quan-ly-tin" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-managed-post">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#house-square"></use></svg></span>
                                    <span>Quản lý tin bất động sản</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/thong-tin-ca-nhan" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-profile">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#user"></use></svg></span>
                                    <span>Thông tin tài khoản</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/tim-kiem-da-luu#message" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-alert">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bell"></use></svg></span>
                                    <span>Thông báo</span>
                                    <!-- ngIf: Profile.Message.HasValue -->
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/bat-dong-san-yeu-thich" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-favorite">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#heart"></use></svg></span>
                                    <span>Bất động sản đã lưu</span>
                                </a>
                            </div>
                            <div>
                                <a href="/trang-ca-nhan/tim-kiem-da-luu" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-saved-search">
                                    <span class="main-menu-icon"><svg width="24" height="24"><use xlink:href="/content/mogi.svg#bookmark"></use></svg></span>
                                    <span>Tìm kiếm đã lưu</span>
                                </a>
                            </div>
                        </div>
                        <div class="action-menu border-top">
                            <div>
                                <a href="/trang-ca-nhan/doi-mat-khau" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-password">
                                    <span>Thay đổi mật khẩu</span>
                                </a>
                            </div>
                            <div>
                                <a href="/logoff" rel="nofollow" gtm-event="link" gtm-cat="menu" gtm-act="user-menu-signout">
                                    <span>Thoát</span>
                                </a>
                            </div>
                        </div>
                    </div><!-- end ngIf: Profile.isAuth() -->
                    <!-- ngIf: Profile.isAuth() --><div ng-if="Profile.isAuth()" class="slideMenu-cover ng-scope"></div><!-- end ngIf: Profile.isAuth() -->
                </div>
                <div id="mogi-slide-overlay" ng-click="closeSlideMenu()"></div>
            </div>
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 my-4">
                        @*<div class="mb-4">
                        <img src="static/img/logo-light.svg" title="" alt="">
                        </div>*@
                        <div class="text-white-65 mb-4" id="logo">
                            <img src="~/images/logo.png" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2 my-4">
                        <h5 class="text-white h6 mb-4">THÔNG TIN</h5>
                        <ul class="list-unstyled white-link footer-links">
                            <li>
                                <a href="/DanhSachSanPham/Index">Trang chủ</a>
                            </li>
                            <li>
                                <a href="/DanhSachSanPham/Index">Sản phẩm</a>
                            </li>
                            <li>
                                <a href="#">Tin tức</a>
                            </li>
                            <li>
                                <a href="#">Liên hệ</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-2 my-4">
                        <h5 class="text-white h6 mb-4">HỖ TRỢ</h5>
                        <ul class="list-unstyled white-link footer-links">
                            <li>
                                <a href="#">Hướng dẫn mua hàng</a>
                            </li>
                            <li>
                                <a href="#">Đổi trả và bảo hành</a>
                            </li>
                            <li>
                                <a href="#">Giao nhận và thanh toán</a>
                            </li>
                            <li>
                                <a href="#">Đăng ký thành viên</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-2 my-4">
                        <h5 class="text-white h6 mb-4">LIÊN HỆ</h5>
                        <ul class="list-unstyled white-link footer-links">
                            <li>
                                <a href="#">
                                    <img src="~/images/locationicon.png" />
                                    Q.Bình Thạnh, TP.HCM
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="~/images/phoneicon.png" />
                                    0931870526
                                </a>
                            </li>
                            <li>
                                <a href="mailto:MeMeow@gmail.com">
                                    <img src="~/images/mailicon.png" />
                                    MOJOIN@gmail.com
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-lg-3 my-4">
                        <h5 class="text-white h6 mb-4">FANPAGE</h5>
                        <div class="nav footer-socila-icon">
                            <a href="https://www.facebook.com">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom footer-border-top light py-3">
            <div class="container text-center" style="color: #ffffff">
                <p class="m-0">© 2023 copyright <a href="#" class="text-reset">MeMeow</a></p>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
