@model mojoin.ViewModel.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app">
    <div class="container-fluid  d-flex" style="background-image: url('assets/images/others/login-3.png')">
        <div class="d-flex flex-column justify-content-between w-100">
            <div class="container d-flex h-100">
                <div class="row align-items-center w-100 justify-content-center d-flex">
                    <div class="col-md-10 col-lg-5 m-h-auto">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between m-b-30">
                                    <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
                                    <h2 class="m-b-0">Quên mật khẩu</h2>
                                </div>
                                <form asp-action="ForgotPassword">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group ">
                                        <input type="email" asp-for="Email" class="form-control" placeholder="Email tài khoản đặt lại mật khẩu">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group p-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="font-size-15 text-muted">
                                            </span>
                                            <button class="btn btn-custom-size lg-size btn-loginr rounded-3" type="submit">Gửi Mail</button>

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

