@model mojoin.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app">
    <div class="container-fluid  d-flex" style="background-image: url('assets/images/others/login-3.png')">
        <div class="d-flex flex-column justify-content-between w-100">
            <div class="container d-flex h-100">
                <div class="row align-items-center w-100">
                    <div class="col-md-10 col-lg-5 m-h-auto">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between m-b-30">
                                    <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
                                    <h2 class="m-b-0">Đăng nhập</h2>
                                </div>
                                <form asp-action="Login">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group ">
                                        <input type="phone" asp-for="UserName" class="form-control" placeholder="Số điện thoại">
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input type="password" asp-for="Password" class="form-control" placeholder="Mật khẩu">
@*                                        <a class="float-right font-size-13 text-muted" href="">Forget Password?</a>
*@                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group p-2">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <span class="font-size-13 text-muted">
                                                Don't have an account?
                                                <a class="small" href="register.html"> Signup</a>
                                            </span>
                                            <button class="btn btn-custom-size lg-size btn-primary btn-primary-hover rounded-3">Đăng nhập</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*


<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 class="login-title">Đăng nhập</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Địa chỉ Email</label>
                                    <input type="email" asp-for="UserName" placeholder="Địa chỉ Email">
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Mật khẩu</label>
                                    <input type="password" asp-for="Password" placeholder="Mật khẩu">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

*@