@model mojoin.ViewModel.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="app">
    <div class="container-fluid p-h-0 p-v-20 bg full-height d-flex">
        <div class="d-flex flex-column justify-content-between w-100">
            <div class="container d-flex h-100">
                <div class="row align-items-center w-100 justify-content-center d-flex">
                    <div class="col-md-7 col-lg-5 m-h-auto ">
                        <div class="card shadow-lg">
                            <div class="card-body">
                                <div class="d-flex  justify-content-between m-b-30">
                                    <img class="img-fluid" alt="" src="assets/images/logo/logo.png">
                                    <h2 class="m-b-0 ">Đăng ký</h2>
                                </div>
                                <form asp-action="Register">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <label class="font-weight-semibold">Họ</label>
                                                <input type="text" class="form-control" asp-for="LastName" placeholder="Họ">
                                                <span asp-validation-for="LastName" class="text-danger"></span>
                                            </div>
                                            <div class="col-lg-6">
                                                <label class="font-weight-semibold">Tên</label>
                                                <input type="text" class="form-control" asp-for="FirstName" placeholder="Tên">
                                                <span asp-validation-for="FirstName" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" asp-for="Email" class="form-control" placeholder="Email">
                                        <span asp-validation-for="Email" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Số điện thoại</label>
                                        <input type="tel" asp-for="Phone" class="form-control" placeholder="Số điện thoại">
                                        <span asp-validation-for="Phone" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu</label>
                                        <input type="password" asp-for="Password" class="form-control" placeholder="Mật khẩu">
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Nhập lại mật khẩu</label>
                                        <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Nhập lại mật khẩu">
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group  ">
                                        <div class="d-flex align-items-center justify-content-between p-10">
                                            <div class="checkbox">
                                                <input id="checkbox" type="checkbox">
                                                <label for="checkbox"><span>I have read the <a href="">agreement</a></span></label>
                                            </div>
                                            <button class="btn btn-custom-size lg-size btn-loginr btn-hover rounded-3">Đăng ký</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>

@*


<main class="main-content">
    <div class="login-register-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 pt-10 pt-lg-0">
                    <form asp-action="Login">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="login-form">
                            <h4 class="login-title">Đăng ký tài khoản</h4>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>Họ và Tên</label>
                                    <input type="text" asp-for="FullName" placeholder="Họ và Tên">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                                <div class="col-md-12">
                                    <label>Số điện thoại</label>
                                    <input type="tel" asp-for="Phone" placeholder="Số điện thoại">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Mật khẩu</label>
                                    <input type="password" asp-for="Password" placeholder="Mật khẩu">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-md-6">
                                    <label>Nhập lại mật khẩu</label>
                                    <input type="password" asp-for="ConfirmPassword" placeholder="Nhập lại mật khẩu">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0">Đăng ký</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
*@