@{
    <link href="~/css/giadichvu.css" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
} 

<main id="main">
    <div class="container clearfix" style="width: 100%; max-width: 1400px;">
        <section class="section" style="padding: 50px 0; border: none; background-color: transparent;">
            <div class="section-header">
                <div class="section-title big" style="text-align: center; margin-bottom: 0; text">Bảng giá dịch vụ</div>
                <p style="margin-top: 0; margin-bottom: 30px; text-align: center;"></p>
            </div>
            <div class="section-content">
                <table class="table table-pricing">
                    <thead>
                        <tr>
                            <th style="background: #fff; border: 0;"></th>
                            <th class="package_vip1" style="background-color:#E13427; color: #fff; vertical-align: middle;">Tin VIP nổi bật
                                <span class="star star-5">
                                    
                                </span></th>
                            <th class="package_vip2" style="background-color:#ea2e9d; color: #fff; vertical-align: middle;">Tin VIP 1<span class="star star-4"></span></th>
                            <th class="package_vip3" style="background-color:#FF6600; color: #fff; vertical-align: middle;">Tin VIP 2<span class="star star-3"></span></th>
                            <th class="package_vip4" style="background-color:#007BFF; color: #fff; vertical-align: middle;">Tin VIP 3<span class="star star-2"></span></th>
                            <th class="package_tinthuong" style="background-color:#055699; color: #fff; vertical-align: middle;">Tin thường</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="nowrap" style="vertical-align: top;"><strong>Ưu điểm</strong></td>
                            <td style="vertical-align: top;">
                                <p>- Lượt xem nhiều gấp <strong>30 lần</strong> so với tin thường</p>
                                <p>- Ưu việt, tiếp cận <strong>tối đa</strong> khách hàng.</p>
                                <p>- Xuất hiện vị trí <strong>đầu tiên ở trang chủ</strong></p>
                                <p>- Đứng <strong>trên tất cả</strong> các loại tin VIP khác</p>
                                <p>- Xuất hiện <strong>đầu tiên</strong> ở mục tin nổi bật xuyên suốt khu vực chuyên mục đó. 
                                    <a target="_blank" href="/images/demo-vipnoibat2.jpg"><img style="display: inline-block;" src="/images/uicon-picture.svg" width="15" height="15"></a>
                                </p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Lượt xem nhiều gấp <strong>15 lần</strong> so với tin thường</p>
                                <p>- Tiếp cận <strong>rất nhiều</strong> khách hàng. </p>
                                <p>- Xuất hiện <strong>sau VIP NỔI BẬT</strong> và <strong>trước Vip 2, Vip 3, tin thường</strong>.</p>
                                <p>- Xuất hiện thêm ở mục tin nổi bật xuyên suốt khu vực chuyên mục đó. <a target="_blank" href="/images/demo-vipnoibat2.jpg"><img style="display: inline-block;" src="/images/uicon-picture.svg" width="15" height="15"></a></p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Lượt xem nhiều gấp <strong>10 lần</strong> so với tin thường</p>
                                <p>- Tiếp cận khách hàng <strong>rất tốt</strong>.</p>
                                <p>- Xuất hiện <strong>sau VIP 1</strong> và <strong>trước VIP 3, tin thường</strong>.</p>
                                <p>- Xuất hiện thêm ở mục tin nổi bật xuyên suốt khu vực chuyên mục đó. <a target="_blank" href="/images/demo-vipnoibat2.jpg"><img style="display: inline-block;" src="/images/uicon-picture.svg" width="15" height="15"></a></p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Lượt xem nhiều gấp <strong>5 lần</strong> so với tin thường</p>
                                <p>- Tiếp cận khách hàng <strong>tốt</strong>.</p>
                                <p>- Xuất hiện <strong>sau VIP 2</strong> và <strong>trước tin thường</strong>.</p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Tiếp cận khách hàng <strong>khá tốt</strong>.</p>
                                <p>- Xuất hiện <strong>sau các loại tin VIP</strong>.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="nowrap" style="vertical-align: top;"><strong>Phù hợp</strong></td>
                            <td style="vertical-align: top;">
                                <p>- Phù hợp khách hàng là công ty/cá nhân sở hữu hệ thống lớn có từ 15-20 căn phòng/nhà trở lên hoặc phòng trống quá lâu, thường xuyên đang cần <strong>cho thuê gấp</strong>.</p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Phù hợp khách hàng cá nhân/môi giới có 10-15 căn phòng/nhà đang trống thường xuyên, cần <strong>cho thuê nhanh nhất</strong>.</p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Phù hợp khách hàng cá nhân/môi giới có lượng căn trống thường xuyên, cần <strong>cho thuê nhanh hơn</strong>.</p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Phù hợp loại hình phòng trọ chung chủ, KTX ở ghép hay khách hàng có 1-5 căn phòng/nhà cần cho thuê nhanh, <strong>tiếp cận khách hàng tốt hơn</strong>.</p>
                            </td>
                            <td style="vertical-align: top;">
                                <p>- Phù hợp tất cả các loại hình tuy nhiên lượng tiếp cận <strong>khách hàng thấp hơn</strong> và <strong>cho thuê chậm hơn so</strong> với tin VIP.</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="nowrap"><strong>Giá ngày</strong></td>
                            <td><span class="price-day">80.000đ</span><span style="display: block; font-size: 0.8rem;">(Tối thiểu 5 ngày)</span></td>
                            <td><span class="price-day">40.000đ</span><span style="display: block; font-size: 0.8rem;">(Tối thiểu 5 ngày)</span></td>
                            <td><span class="price-day">20.000đ</span><span style="display: block; font-size: 0.8rem;">(Tối thiểu 5 ngày)</span></td>
                            <td><span class="price-day">10.000đ</span><span style="display: block; font-size: 0.8rem;">(Tối thiểu 5 ngày)</span></td>
                            <td><span class="price-day">2.000đ</span><span style="display: block; font-size: 0.8rem;">(Tối thiểu 5 ngày)</span></td>
                        </tr>
                        <tr><td class="nowrap"><strong>Giá tuần (7 ngày)</strong></td><td><span class="price-week">560.000đ</span></td>
                            <td><span class="price-week">280.000đ</span></td>
                            <td><span class="price-week">140.000đ</span></td>
                            <td><span class="price-week">70.000đ</span></td>
                            <td><span class="price-week">14.000đ</span></td>
                        </tr>
                        <tr>
                            <td class="nowrap"><strong>Giá tháng (30 ngày)</strong><span style="display: block; font-size: 0.8rem; color: #4caf50;">Rẻ hơn 10% so với giá ngày</span></td>
                            <td><span style="display: block; text-decoration: line-through; color: red;">2.400.000đ</span><span style="display: block; color: #4caf50;">Giảm 25% chỉ còn</span><span class="price-month">1.800.000đ</span></td>
                            <td><span style="display: block; text-decoration: line-through; color: red;">1.200.000đ</span><span style="display: block; color: #4caf50;">Giảm 25% chỉ còn</span><span class="price-month">900.000đ</span></td>
                            <td><span style="display: block; text-decoration: line-through; color: red;">600.000đ</span><span style="display: block; color: #4caf50;">Giảm 25% chỉ còn</span><span class="price-month">450.000đ</span></td>
                            <td><span style="display: block; text-decoration: line-through; color: red;">300.000đ</span><span style="display: block; color: #4caf50;">Giảm 25% chỉ còn</span><span class="price-month">225.000đ</span></td>
                            <td><span style="display: block; text-decoration: line-through; color: red;">60.000đ</span><span style="display: block; color: #4caf50;">Giảm 25% chỉ còn</span><span class="price-month">45.000đ</span></td>
                        </tr>
                        <tr>
                            <td class="nowrap"><strong>Giá đẩy tin</strong></td>
                            <td>40.000 đ</td><td>25.000 đ</td><td>15.000 đ</td>
                            <td>10.000 đ</td><td>2.000 đ</td>
                        </tr>
                        <tr>
                            <td class="nowrap" style="vertical-align: middle;"><strong>Màu sắc tiêu đề</strong></td>
                            <td><p><span style="color:#E13427; font-weight: bold;">TIÊU ĐỀ MÀU ĐỎ, IN HOA</span></p></td>
                            <td><p><span style="color:#ea2e9d; font-weight: bold;">TIÊU ĐỀ MÀU HỒNG, IN HOA</span></p></td>
                            <td><p><span style="color:#FF6600; font-weight: bold;">TIÊU ĐỀ MÀU CAM, IN HOA</span></p></td>
                            <td><p><span style="color:#007BFF; font-weight: bold;">TIÊU ĐỀ MÀU XANH, IN HOA</span></p></td>
                            <td><p><span style="color:#055699; font-weight: bold;">Tiêu đề màu mặc định, viết thường</span></p></td>
                        </tr>
                        <tr>
                            <td class="nowrap" style="vertical-align: middle;"><strong>Tự động duyệt</strong></td>
                            <td><p><img style="margin: 0 auto;" src="/images/checked.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/checked.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/checked.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/checked.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"</p></td>
                        </tr>
                        <tr>
                            <td class="nowrap" style="vertical-align: middle;"><strong>Hiển thị số điện thoại<br> ở trang danh sách</strong></td>
                            <td><p><img style="margin: 0 auto;" src="/images/checked.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                        </tr>
                        <tr>
                            <td class="nowrap" style="vertical-align: middle;"><strong>Huy hiệu nổi bật</strong></td>
                            <td><p><img style="margin: 0 auto;" src="/images/checked.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                            <td><p><img style="margin: 0 auto;" src="/images/close.png"></p></td>
                        </tr>                       
                    </tbody>
                </table>
            </div>
        </section>
        <section class="section" style="padding: 0; border: 0; margin-bottom: 100px;">
            <div class="section-title big" style="text-align: center; margin-bottom: 50px;">Phương thức thanh toán</div>
            <div class="section-content">
                <div class="row addfund_method_list clearfix">
                    <div class="col-md-3" style="margin-bottom: 25px;">
                        <div class="method_item">
                            <a href="https://phongtro123.com/quan-ly/nap-tien/chuyen-khoan.html">
                                <div class="method_item_icon"><img src="https://phongtro123.com/images/bank-transfer.png" alt="Chuyển khoản trực tiếp" title="Chuyển khoản trực tiếp"></div>
                                <div class="method_item_name">Chuyển khoản</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 25px;">
                        <div class="method_item">
                            <a href="https://phongtro123.com/quan-ly/nap-tien/atm-internet-banking.html">
                                <div class="method_item_icon"><img src="https://phongtro123.com/images/payment-method.svg" alt="Nạp tiền bằng ATM Internet Banking" title="Nạp tiền bằng Internet Banking"></div>
                                <div class="method_item_name">Thẻ ATM Internet Banking</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 25px;">
                        <div class="method_item">
                            <a href="https://phongtro123.com/quan-ly/nap-tien/the-tin-dung.html">
                                <div class="method_item_icon"><img src="https://phongtro123.com/images/credit-card.png" alt="Nạp tiền bằng thẻ tín dụng quốc tế" title="Nạp tiền bằng thẻ tín dụng quốc tế"></div>
                                <div class="method_item_name">Thẻ tín dụng quốc tế</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 25px;">
                        <div class="method_item">
                            <a href="https://phongtro123.com/quan-ly/nap-tien/tien-mat.html">
                                <div class="method_item_icon"><img src="https://phongtro123.com/images/cash.svg" alt="Nạp tiền bằng tiền mặt" title="Nạp tiền bằng tiền mặt"></div>
                                <div class="method_item_name">Tiền mặt</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 25px;">
                        <div class="method_item">
                            <a href="/PaymentMoMo/Index">
                                <div class="method_item_icon"><img src="https://phongtro123.com/images/momo.png" alt="Nạp tiền bằng MOMO" title="Nạp tiền bằng MOMO"></div>
                                <div class="method_item_name">MOMO</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 25px;">
                        <div class="method_item">
                            <a href="https://phongtro123.com/quan-ly/nap-tien/zalopay.html">
                                <div class="method_item_icon"><img src="https://phongtro123.com/images/zalopay.png" alt="Nạp tiền bằng ZaloPay" title="Nạp tiền bằng ZaloPay"></div>
                                <div class="method_item_name">ZaloPay</div>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3" style="margin-bottom: 25px;">
                        <div class="method_item">
                            <a href="https://phongtro123.com/quan-ly/nap-tien/cua-hang-tien-loi.html">
                                <div class="method_item_icon"><img src="https://phongtro123.com/images/online-store.svg" alt="Điểm giao dịch, cửa hàng tiện lợi" title="Điểm giao dịch, cửa hàng tiện lợi"></div>
                                <div class="method_item_name">Điểm giao dịch, cửa hàng tiện lợi</div>
                            </a>
                        </div>
                    </div>
                        <div class="col-md-3" style="margin-bottom: 25px;">
                            <div class="method_item">
                                <a href="https://phongtro123.com/quan-ly/nap-tien/qr-code.html">
                                    <div class="method_item_icon"><img src="https://phongtro123.com/images/qr-code.png" alt="Quét mã QRCode" title="Quét mã QRCode"></div>
                                    <div class="method_item_name">Quét mã QRCode</div>
                                </a>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </div>
</main>
