@model IEnumerable<mojoin.Models.RoomImagesVr>

@{
    ViewData["Title"] = "_360ImageView";
    <link href="~/css/modal.css" rel="stylesheet" />
}

<div id="360ImageViewModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div id="panorama"></div> <!-- Thêm một div để chứa ảnh 360 độ -->
    </div>
</div>
@*<script src="~/js/panolens/panolers.min.js"></script>*@
@*<script src="~/js/panolens/three.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/105/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/panolens@0.12.1/build/panolens.min.js"></script>
<script>
    // Khởi tạo viewer Panolens
    var viewer = new PANOLENS.Viewer();

    // Lặp qua từng hình ảnh và thêm chúng vào viewer
    var images = @Html.Raw(Json.Serialize(Model)); // Lấy dữ liệu từ Razor Model

    images.forEach(function (image) {
        var panoramaImage = new PANOLENS.ImagePanorama(image.Image, { container: document.getElementById('panorama') });
        viewer.add(panoramaImage);
    });

    // Đóng modal khi nhấp vào nút đóng
    var closeButton = document.querySelector('.close');
    closeButton.addEventListener('click', function () {
        document.getElementById('360ImageViewModal').style.display = 'none';
    });
</script>

