@model mojoin.Models.Room

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/css/detail.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    //<script src="~/js/site.js" defer></script>
}
<div id="mogi-page-content" class="mg-property-listing ng-scope">

    <div class="property-detail clearfix">

        <div class="property-detail-main">
            <div class="main-intro">
                <!-- Gallery-->
                <div class="slider">
                    <i class="fa fa-angle-left slider-prev" style="display: flex;"></i>
                    <ul class="slider-dots">
                        <li class="slider-dot-item active" data-index="0"></li>
                        <li class="slider-dot-item" data-index="1"></li>
                        <li class="slider-dot-item" data-index="2"></li>
                        <li class="slider-dot-item" data-index="3"></li>
                    </ul>
                    <div class="slider-wrapper" style="display:block;">
                        <div class="slider-main">
                            <div class="slider-item">
                                <img src="@Model.Image1" alt="">
                            </div>
                            <div class="slider-item">
                                <img src="@Model.Image2" alt="">
                            </div>
                            <div class="slider-item">
                                <img src="@Model.Image3" alt="">
                            </div>
                            <div class="slider-item">
                                <img src="@Model.Image4" alt="">
                            </div>
                            @*<div class="slider-item">
                            <img src="https://images.unsplash.com/photo-1470093851219-69951fcbb533?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80" alt="">
                            </div>*@
                        </div>
                    </div>
                    <i class="fa fa-angle-right slider-next" style="display: flex;"></i>
                </div>
                <!--End Gallery-->
            </div>
        </div>
        <div class="side-bar">
            <div class="agent-widget widget">
                <div class="agent-info">
                    <img src="/images/avatar.png" alt="CHỈNH NGUYỄN">
                    <div class="agent-name">
                        <a href="/moi-gioi/0916307716-chinh-nguyen-uid12205476">CHỈNH NGUYỄN</a>
                    </div>
                    <div class="agent-date">Đã tham gia: 3 tháng 23 ngày</div>
                </div>
                <div class="agent-contact clearfix">
                    <a ng-href="#" gtm-event="link" gtm-cat="detail" gtm-act="mobile-call" ng-click="ShowPhone = 1" href="#">
                        <img width="16" height="16" style="display:inline-block" src="~/images/phoneicon.png"/>
                        <span ng-bind="PhoneFormat('0916307716')" class="ng-binding">0916 307 xxx</span>
                        <span class="showphonetext">Bấm để hiện số</span>
                    </a>
                    <a href="#" data-toggle="modal" data-target="#message" gtm-event="link" gtm-cat="detail" gtm-act="ask" ng-click="Message.Open()">
                        <svg width="24" height="24"><use xlink:href="/content/mogi.svg#envelop-icon"></use></svg>
                        <span class="hidden-xs">Gửi tin nhắn</span>
                    </a>
                </div>
            </div>

            <div class="agent-command-widget">
                <div class="command-favorite" id="btn_save_ad" onclick="yeuthich2()">
                    <img id="img_save_ad" height="20" width="20" style="display: inline-block;" src="https://static.chotot.com/storage/icons/saveAd/save-ad.svg" alt="like" loading="lazy" data-saved="false"><span style="user-select:none;">Lưu tin</span>
                </div>
                <div class="social-network share-link-group ng-isolate-scope" svg-url="/content/fonts/mogi-icons.svg">
                    <a class="share-link" socialshare="" socialshare-provider="facebook" socialshare-display="popup" socialshare-popup-height="400" socialshare-popup-width="500" socialshare-url="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906">
                        <svg width="32px" height="32px"><use xlink:href="/content/fonts/mogi-icons.svg#mi-facebook"></use></svg>
                    </a>
                    <a class="share-link" socialshare="" socialshare-provider="facebook" socialshare-type="send" socialshare-via="280564992105935" socialshare-display="popup" socialshare-popup-height="400" socialshare-popup-width="600" socialshare-redirect-uri="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906" socialshare-url="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906">
                        <svg width="32px" height="32px"><use xlink:href="/content/fonts/mogi-icons.svg#mi-messenger"></use></svg>
                    </a>
                    <a class="share-link zalo-share-button" data-href="https://mogi.vn/quan-2/thue-can-ho-dich-vu/chdv-cao-cap-sang-xin-chat-luong-quan-2-may-giat-rieng-id21986906" data-oaid="4599343447665056788" data-layout="2" data-color="blue" data-customize="true">
                        <img alt="zalo" src="/content/fonts/circle-zalo.svg" style="width:32px;height:32px;">
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script>
    window.addEventListener("load", function () {
        const slider = this.document.querySelector(".slider");
        const sliderMain = this.document.querySelector(".slider-main");
        const sliderItems = this.document.querySelectorAll(".slider-item");
        const nextBtn = this.document.querySelector(".slider-next");
        const prevBtn = this.document.querySelector(".slider-prev");
        const dotItems = this.document.querySelectorAll(".slider-dot-item");
        const sliderItemWidth = sliderItems[0].offsetWidth;
        const slidesLength = sliderItems.length;
        let postionX = 0;
        let index = 0;
        nextBtn.addEventListener("click", function () {
            handleChangeSlide(1);
        });
        prevBtn.addEventListener("click", function () {
            handleChangeSlide(-1);
        });
        [...dotItems].forEach(item => item.addEventListener("click", function(e){
            const slideIndex = parseInt(e.target.dataset.index);
            [...dotItems].forEach(el => el.classList.remove("active"));
            e.target.classList.add("active");
            index = slideIndex;
            postionX = -1 * index * sliderItemWidth;
            sliderMain.style = `transform: translateX(${
                postionX}px)`;
        }));
        function handleChangeSlide(direction) {
            if (direction == 1) {
                if(index >= slidesLength -1){
                    index = slidesLength -1;
                    return;
                }
                postionX = postionX - sliderItemWidth;
                sliderMain.style = `transform: translateX(${postionX}px)`;
                console.log(index);
                index++;
            } else if (direction == -1) {
                if(index <= 0){
                    index = 0;
                    return;
                }
                postionX = postionX + sliderItemWidth;
                sliderMain.style = `transform: translateX(${postionX}px)`;
                console.log("prev slide");
                index--;
            }
            [...dotItems].forEach(el => el.classList.remove("active"));
            dotItems[index].classList.add("active");
        }
    })
</script>
<script>
    function yeuthich2() {
        const btn = document.getElementById("btn_save_ad");
        const img = document.getElementById("img_save_ad");
        btn.addEventListener(`click`, () => {
            if (img.getAttribute("src") === "https://static.chotot.com/storage/icons/saveAd/save-ad.svg") {
                img.setAttribute("src", "https://static.chotot.com/storage/icons/saveAd/save-ad-active.svg");
            }
            else {
                img.setAttribute("src", "https://static.chotot.com/storage/icons/saveAd/save-ad.svg");
            }

        });
    }  
</script>