@model mojoin.ViewModel.RoomPostViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    <link href="~/admin_assets/css/site.css" rel="stylesheet" />
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="Rooms" asp-action="Index" class="breadcrumb-item">Danh sách bài đăng</a>
            <span class="breadcrumb-item active">Thêm mới bài đăng</span>
        </nav>
    </div>
</div>
<h1>Thêm mới bài đăng</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Loại phòng</label>
                    <select asp-for="RoomTypeId" class="form-control" asp-items="ViewBag.RoomTypeId"></select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" id="preview">
                    @*<h3>Thêm ảnh</h3>*@
                    <div class="input-group">
                        <div class="custom-file">
                            <input id="file-input" name="Files" type="file" class="custom-file-input" multiple="multiple" accept="image/*" />
                            <label class="custom-file-label" for="file-input">Chọn ảnh</label>
                        </div>
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-plus"></i> Thêm ảnh
                            </button>
                        </div>
                    </div>
                    <div id="preview-images" class="row"></div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tiêu đề</label>
                        <input asp-for="Title" class="form-control" placeholder="Nhập tiêu đề" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea asp-for="Description" class="form-control" rows="11" maxlength="3000"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Giá</label>
                        <input asp-for="Price" class="form-control" placeholder="VNĐ" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Diện tích</label>
                        <input asp-for="Area" class="form-control" placeholder="m2" />
                        <span asp-validation-for="Area" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Số phòng ngủ</label>
                        <select asp-for="NumRooms" class="form-control">
                            <option value="" disabled selected hidden>Số phòng ngủ</option>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                        </select>
                        <span asp-validation-for="NumRooms" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Số phòng vệ sinh</label>
                        <select asp-for="NumBathrooms" class="form-control">
                            <option value="" disabled selected hidden>Số phòng vệ sinh</option>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                        </select>
                        <span asp-validation-for="NumBathrooms" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Tỉnh thành</label>
                        <select asp-for="City" id="city" class="form-control" onchange="onCityChange()" required>
                            <option value="">Chọn thành phố</option>
                        </select>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Quận/Huyện</label>
                        <select asp-for=District id="district" class="form-control" onchange="onDistrictChange()" disabled required>
                            <option value="">Chọn quận/huyện</option>
                        </select>
                        <span asp-validation-for="District" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Phường/Xã</label>
                        <select asp-for=Ward id="ward" class="form-control" disabled required>
                            <option value="">Chọn phường/xã</option>
                        </select>
                        <span asp-validation-for="Ward" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Đường</label>
                        <select asp-for=Street id="street" class="form-control" disabled required>
                            <option value="">Chọn đường</option>
                        </select>
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Số nhà</label>
                        <input asp-for="StreetNumber" class="form-control" />
                        <span asp-validation-for="StreetNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input asp-for="HasRefrigerator" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Tủ lạnh</label>
                        <span asp-validation-for="HasRefrigerator" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-check">
                        <input asp-for="HasAirConditioner" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Máy lạnh</label>
                        <span asp-validation-for="HasAirConditioner" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-check">
                        <input asp-for="HasElevator" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Thang máy</label>
                        <span asp-validation-for="HasElevator" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-check">
                        <input asp-for="HasWasher" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Máy giặt</label>
                        <span asp-validation-for="HasWasher" class="text-danger"></span>
                    </div>
                    
                    <br/>
                    <div class="form-check">
                        <input asp-for="HasParking" type="checkbox" class="form-check-input" />
                        <label class="form-check-label">Bãi xe</label>
                        <span asp-validation-for="HasParking" class="text-danger"></span>
                    </div>
                </div>
            </div>
            
            <br />
            <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" /> <a asp-action="Index">Back to List</a>
            </div>
        </form>

    </div>
</div>
<script>
    $(document).ready(function () {
        $('#file-input').on('change', function () {
            var files = $(this).get(0).files;
            var html = '';
            for (var i = 0; i < files.length; i++) {
                html += '<div class="col-md-3">';
                html += '<div class="preview-image">';
                html += '<img src="' + URL.createObjectURL(files[i]) + '" />';
                html += '<button type="button" class="remove-image"><i class="fas fa-times"></i></button>';
                html += '</div>';
                html += '</div>';
            }
            $('#preview-images').append(html);
        });

        $('#preview-images').on('click', '.remove-image', function () {
            $(this).parent().parent().remove();
        });
    });
</script>
<script src="~/js/navbuttons.js"></script>
<script src="~/js/getaddresses.js"></script>
<script src="~/js/getroomtype.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
