<div class="side-nav">
    <div class="side-nav-inner">
        <ul class="side-nav-menu scrollable">
            <li class="nav-item dropdown open">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-dashboard"></i>
                    </span>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-appstore"></i>
                    </span>
                    <span class="title">Quản lý Bài đăng</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="Admin" asp-controller="RoomReports" asp-action="Index">Danh sách Báo cáo</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Rooms" asp-action="Index" asp-route-isActive="0">Danh sách Phê duyệt</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Rooms" asp-action="Index" asp-route-isActive="-1">Danh sách Bài đăng</a>
                    </li>
                    
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <span class="icon-holder">
                        <i class="anticon anticon-hdd"></i>
                    </span>
                    <span class="title">Quản lý Tài khoản</span>
                    <span class="arrow">
                        <i class="arrow-icon"></i>
                    </span>
                </a>
                <ul class="dropdown-menu">

                    <li>
                        <a asp-area="Admin" asp-controller="Roles" asp-action="Index">Quyền truy cập</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Staffs" asp-action="Index">Danh sách Nhân viên</a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Users" asp-action="Index">Danh sách Người dùng</a>
                    </li>
                </ul>
        </ul>
    </div>
</div>