body {
    background-color: #e9ebee;
}

body {
    padding-top: 50px; 
    padding-bottom: 20px;
    background: #F0F0F0;
    font-family: 'Open Sans';
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    color: #222222;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

body {
    margin: 0;
}
/*layoutDangtin*/
.mogi-goback {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    background: #e7e7e7;
    height: 30px;
    padding-top: 5px;
    font-size: 14px;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}*/

.mogi-goback a {
    color: #104b8c !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mogi-navbar {
    display: block;
    height: 80px;
    background: #fff;
    border: none;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #f3f3f3;
}

.navbar-fixed-top {
    z-index: 700 !important;
    top: 30px;
}

@media (min-width: 992px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        border-radius: 0;
    }
}

.mogi-navbar .container {
    height: 100%;
    padding: 15px 15px;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.mogi-navbar .navbar-header {
    height: 50px;
}

@media (min-width: 992px) {
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 768px) {
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 992px) {
    .navbar-header {
        float: left;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }
}

@media (min-width: 992px) {
    .container .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

@media (min-width: 992px) {
    .container > .navbar-header, .container > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .container .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

@media (min-width: 768px) {
    .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
        margin-right: 0;
        margin-left: 0;
    }
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 340px;
}

@media (min-width: 768px) {
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 768px) {
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
}

.for-desktop {
    display: block !important;
}

@media (min-width: 768px) {
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}

.collapse {
    display: none;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

@media (min-width: 992px) {
    .navbar-right {
        float: right !important;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}

@media (min-width: 768px) {
    .navbar-form {
        width: auto;
        padding-top: 0;
        padding-bottom: 0;
        margin-right: 0;
        margin-left: 0;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}
.navbar-form {
    padding: 10px 15px;
}
.btn-continue {
    color: #333;
    background: #00deb6;
    border: 0;
    font-size: 14px;
    min-width: 100px;
}

.btn {
    border-radius: 2px;
}

.btn-group-sm > .btn, .btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

@media (min-width: 992px) {
    .navbar-collapse .navbar-nav.navbar-right:last-child {
        margin-right: -15px;
    }
}

.mogi-navbar .mogi-menu {
    height: 36px;
    margin: 7px 0;
}

@media (min-width: 768px) {
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
}

@media (min-width: 992px) {
    .navbar-right {
        float: right !important;
    }
}

@media (min-width: 992px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
}

@media (min-width: 768px) {
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
}

.navbar-nav {
    margin: 7.5px -15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
}
@media (min-width: 992px) {
    .navbar-nav > li {
        float: left;
    }
}

@media (min-width: 768px){
    .navbar-nav > li {
        float: left;
    }
} 

.nav > li {
    position: relative;
    display: block;
}
.mogi-navbar .mogi-menu > li > a {
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #878787;
    padding: 10px;
    cursor: pointer;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}
.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #eee;
    border-color: #337ab7;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.open > a {
    outline: 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
@media (min-width: 992px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
} 

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.top-menu-active {
    color: #20a39a !important;
    font-weight: 600;
}
@media (min-width: 992px){
    .navbar-nav > li {
        float: left;
    }
} 

@media (min-width: 768px){
    .navbar-nav > li {
        float: left;
    }
} 

.nav > li {
    position: relative;
    display: block;
}

@media (min-width: 1200px) {
    .visible-lg {
        display: block !important;
    }
}

.visible-lg, .visible-md, .visible-sm, .visible-xs {
    display: none !important;
}
.mogi-navbar .mogi-menu > li > a {
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #878787;
    padding: 10px;
    cursor: pointer;
}

.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

@media (min-width: 992px) {
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
} 

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.user-message {
    padding: 10px 5px !important;
}

[role=button] {
    cursor: pointer;
}
.user-message .fa-bell {
    color: #ec8926;
    margin-right: 0px;
    font-size: 20px;
}

.fa-bell {
    color: #ec8926;
    margin-right: 5px;
    font-size: 15px;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.badge-notify {
    background: #ff5353;
    position: absolute;
    top: 2px;
    right: 5px;
    height: 9px;
    width: 9px;
    min-width: 9px;
    display: block;
    padding: 0px;
    font-size: 4px;
    line-height: 1;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.message-icon .inbox {
    width: 300px;
}

@media (min-width: 768px){
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
}
.open /*> .dropdown-menu*/ {
    display: none;
}
.open:active > .dropdown-menu {
    display: block;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
   /* left: 0;*/
    z-index: 1000;
   /* display: none;*/
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
   /* -webkit-background-clip: padding-box;*/
    background-clip: padding-box;
    /*border: 1px solid #ccc;*/
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    /*-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333;
        white-space: nowrap;
    }

.m-no-message {
    text-align: center;
}

.m-link {
    width: 100%;
}
.m-content {
    width: 100%;
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 5px;
}
@media (min-width: 992px){
    .navbar-nav > li {
        float: left;
    }
} 

@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
    }
}

.nav > li {
    position: relative;
    display: block;
}
.mogi-navbar .mogi-menu > li .first-name {
    float: left;
    margin-right: 8px;
    font-size: 13px;
    color: #222;
    line-height: 38px;
    height: 38px;
    max-width: 65px;
    overflow: hidden;
    font-weight: 600;
    margin-left: 15px;
    display: inline-block;
    cursor: pointer;
}
.mogi-navbar .mogi-menu > li a.avatar {
    width: 35px;
    height: 35px;
    float: right;
    background: #20a39a;
    padding: 0px;
    border-radius: 50%;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #20a39a !important;
}
.mogi-navbar .mogi-menu > li > a {
    height: 40px;
    font-size: 13px;
    font-weight: 600;
    color: #878787;
    padding: 10px;
    cursor: pointer;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a {
    color: #9d9d9d;
}

@media (min-width: 992px){
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
} 

@media (min-width: 768px){
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
} 

.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.mogi-navbar .mogi-menu > li > a img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.nav > li > a > img {
    max-width: none;
}

img {
    vertical-align: middle;
}

img {
    border: 0;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

@media (min-width: 768px){
    .navbar-right .dropdown-menu {
        right: 0;
        left: auto;
    }
} 

.profile-menu {
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.profile-menu > li > a {
    padding: 8px 10px;
}

.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
.profile-menu i {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 10px;
}

.fa-bell {
    color: #ec8926;

    font-size: 15px;
}

.fa {

    font: normal normal normal 14px/1 FontAwesome;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

}
.fa-heart {
    color: #eb3284;
    font-size: 15px;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
    .dropdown-menu > li:hover {
        text-decoration: none !important;
        background-color: transparent;
        color: #2F8F9D;
    }
/*a {
    background-color: transparent;
}*/
/*a, a:focus, a:hover, a:active {
    text-decoration: none !important;
    cursor: pointer;
    color: #2F8F9D;
}

a {
    color: #222;
}

a {
    background-color: transparent;
}*/
.nav > li {
    position: relative;
    display: block;
}