body {
}
@media (min-width: 1200px){
    .container {
        width: 980px;
    }
} 

@media (min-width: 992px){
    .container {
        width: 980px;
    }
} 

/*@media (min-width: 768px){
    .container {
        width: 750px;
    }
}*/ 

.container {
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}