body {
}

.btn-toolbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: start;
    justify-content: flex-end;
}
select {
    background-color: #2222220f;
    border: 1px solid #6c757d;
    border-radius: 5px;
    color: #6c757d;
    font-size: 14px;
    padding: 10px;
}

/* Thẻ option */
option {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #222;
    font-size: 14px;
    padding: 5px;
}

/* Chọn option */
select:focus,
select:hover {
    background-color: #6c757d;
    color: white;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table-responsive {
    display: block;
    width: 80%;
    margin: 0 auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.table-bordered thead td, .table-bordered thead th {
    border-bottom-width: 2px;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table td, .table th {
    vertical-align: middle;
}

.table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
}

.table td, .table th {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.nowrap {
    white-space: nowrap !important;
}

th {
    text-align: inherit;
}
.table-responsive > .table-bordered {
    border: 0;
}

.table-bordered {
    border: 1px solid #dee2e6;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

table {
    font-size: 0.9rem;
}

table {
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
