.post-manage {
    background: #ffffff;
    margin: 1rem 10rem 1rem;
    font-family: 'Open Sans', Arial, sans-serif;
    padding: 1rem 1rem 1rem;
}
.property-tabs {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    line-height: 1.42857143;
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    color: #222;
    box-sizing: border-box;
    user-select: none;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}
.select-post {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans',Arial,sans-serif;
    user-select: none;
    list-style: none;
    box-sizing: border-box;
    float: left;
    padding: 0.3rem 0.9rem;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    border-bottom: 2px solid #00737c;
    color: #00737c;
}
.title-div {
    text-align: center;
    color: white;
    background-color: #00deb6;
    padding: 1rem 1rem 1rem
}