.props {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    font-size: 14px;
    color: #262637;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-top: 12px;
    list-style: none;
    border: 1px solid #dedede;
    border-radius: 8px;
    padding: 10px; /* Tạo padding cho phần tử props */
}

    .props li {
        margin-bottom: 10px;
    }
.thuenhanh-label {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 1rem;
    font-family: Arial,Helvetica,sans-serif;
    color: #333;
    list-style: none;
    box-sizing: border-box;
    outline: 0;
    width: 70px;
    height: 70px;
    pointer-events: none;
    background: url(https://phongtro123.com/images/chothuenhanh-label.png) center no-repeat;
    background-size: contain;
    position: absolute;
    top: -6px;
    left: -6px;
    z-index: 2;
}
.prop-img {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    font-size: 14px;
    color: #262637;
    list-style: none;
    box-sizing: border-box;
    float: left;
    position: relative;
    border-radius: 8px;
    width: 220px;
    padding-left: 1rem;
}

    .prop-img > img {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
        font-size: 14px;
        color: #262637;
        list-style: none;
        box-sizing: border-box;
        border: 0;
        vertical-align: middle;
        width: 100%;
        display: inline-block;
        border-radius: 8px;
        height: 165px;
    }

.prop-info {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    font-size: 14px;
    color: #262637;
    list-style: none;
    box-sizing: border-box;
    float: left;
    width: calc(100% - 220px);
    padding-left: 18px;
}

.link-overlay {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    font-size: 14px;
    list-style: none;
    box-sizing: border-box;
    color: #222;
    text-decoration: none !important;
    cursor: pointer;
    font-weight: bold;
}
.display-room-1 .prop-info {
    width: 60%;
    padding-left: 100px;
}
    .display-room-1 .prop-info .link-overlay{
        font-size: 18px;
    }
    .prop-title {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        list-style: none;
        cursor: pointer;
        box-sizing: border-box;
        font-family: inherit;
        margin: 0;
        padding: 0;
        color: #3c4146;
        font-weight: 600;
        overflow: hidden;
        padding-right: 32px;
        font-size: 15px;
        line-height: 22px;
        max-height: 44px;
    }

.prop-addr {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    list-style: none;
    box-sizing: border-box;
    color: #657786;
    overflow: hidden;
    margin-top: 4px;
    font-size: 14px;
    line-height: 21px;
}

.prop-attr {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: normal;
    color: #3c4146;
    margin-top: 8px;
    font-size: 15px;
    line-height: 22px;
}

    .prop-attr > li {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
        list-style: none;
        color: #3c4146;
        font-size: 15px;
        line-height: 22px;
        box-sizing: border-box;
        display: inline-block;
        font-weight: 600;
        margin-right: 16px;
    }

.props > li {
    padding: 16px 0;
    position: relative;
    width: 100%;
    display: table;
    clear: both;
}

.price {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    list-style: none;
    box-sizing: border-box;
    font-weight: 700;
    color: #0499a8;
    margin-top: 8px;
    font-size: 18px;
    line-height: 27px;
    height: 27px;
}

.prop-extra {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    font-size: 14px;
    color: #262637;
    list-style: none;
    box-sizing: border-box;
    display: flex;
    height: 30px;
    position: absolute;
    align-items: center;
    width: calc(100% - 220px);
    padding-left: 18px;
    right: 0;
    bottom: 16px;
}

.prop-created {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    list-style: none;
    box-sizing: border-box;
    color: #657786;
    font-size: 14px;
    line-height: 20px;
}

.prop-favorite {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
    color: #262637;
    list-style: none;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 22px;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}

.display-room-1 {
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    background-color: #ff000017;
    height: 250px; /* Điều chỉnh chiều cao của phần tử li */
}

    .display-room-1 .prop-img {
        margin-right: 20px; /* Tạo khoảng trống bên phải của phần tử prop-img */
    }

        .display-room-1 .prop-img img {
            max-width: 200%;
            height: 290px;
            width: 300px;
        }

    .display-room-1 .prop-extra {
        width: calc(100% - 322px);
    }
.display-room-3 {
    border-top: 1.5px solid orange;
    border-bottom: 1.5px solid orange;
    background-color: #fff9f3;
}

.display-room-2 {
    border-top: 1.5px solid #eb57af;
    border-bottom: 1.5px solid #eb57af;
    background-color: #eb57af17;
}

.display-room-4 {
    border-top: 1.5px solid yellow;
    border-bottom: 1.5px solid yellow;
    background-color: #fff9f3;
}
