.title-div {
    text-align: center;
    color: white;
    background-color: #00deb6;
    padding: 1rem 1rem 1rem
}

.userprofile {
    background: #ffffff;
    margin: 1rem 5rem 1rem;
    font-family: 'Open Sans', Arial, sans-serif;

}

    .userprofile .form-group-in4 {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: 'Open Sans',Arial,sans-serif;
        font-size: 14px;
        color: #222;
        line-height: 1.5;
        box-sizing: border-box;
        padding-top: 40px;
        padding-bottom: 30px;
        padding-left:10%;
    }

        .userprofile .form-group-in4 .form-label {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            font-family: 'Open Sans',Arial,sans-serif;
            color: #222;
            line-height: 1.5;
            box-sizing: border-box;
            float: left;
            width: 245px;
            text-align: right;
            font-size: 16px;
            padding: 5px 30px 5px 0;
        }

        .userprofile .form-group-in4 .form-name {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            font-family: 'Open Sans',Arial,sans-serif;
            font-size: 14px;
            color: #222;
            line-height: 1.5;
            box-sizing: border-box;
            float: left;
            text-align: left;
            width: calc(100% - 245px);
            position: relative;
        }

        .userprofile .form-group-in4 .form-input {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            font-family: 'Open Sans',Arial,sans-serif;
            font-size: 14px;
            color: #222;
            line-height: 1.5;
            box-sizing: border-box;
            float: left;
            text-align: left;
            width: calc(100% - 245px);
            position: relative;
        }

            .userprofile .form-group-in4 .form-input .full-name {
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                font-family: 'Open Sans',Arial,sans-serif;
                color: #222;
                line-height: 1.5;
                text-align: left;
                box-sizing: border-box;
                font-size: 20px;
            }

            .userprofile .form-group-in4 .form-input .upload-avatar {
                -webkit-text-size-adjust: 100%;
                -webkit-tap-highlight-color: rgba(0,0,0,0);
                font-family: 'Open Sans',Arial,sans-serif;
                line-height: 1.5;
                text-align: left;
                box-sizing: border-box;
                font-size: 16px;
                color: #036b75;
                cursor: pointer;
            }

        .userprofile .form-group-in4 .form-label .avatar-in4 {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            font-family: 'Open Sans',Arial,sans-serif;
            color: #222;
            line-height: 1.5;
            text-align: right;
            font-size: 16px;
            box-sizing: border-box;
            border: 0;
            vertical-align: middle;
            width: 48px;
            height: 48px;
            display: inline-block;
            border-radius: 50%;
            padding-top: 0;
            padding-bottom: 0;
        }



.form-horizontal {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 1.5;
    box-sizing: border-box;
}

    .form-horizontal .form-label {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: 'Open Sans',Arial,sans-serif;
        color: #222;
        line-height: 1.5;
        box-sizing: border-box;
        float: left;
        width: 245px;
        text-align: right;
        font-size: 16px;
        padding: 5px 30px 5px 0;
    }

    .form-horizontal .form-input {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-family: 'Open Sans',Arial,sans-serif;
        font-size: 14px;
        color: #222;
        line-height: 1.5;
        box-sizing: border-box;
        float: left;
        text-align: left;
        width: calc(100% - 245px);
        position: relative;
    }

.form-group-in4 {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 1.5;
    box-sizing: border-box;
    padding-bottom: 1rem;
}

.form-input > input {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    color: inherit;
    font-family: inherit;
    line-height: inherit;
    width: 100%;
    max-width: 545px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #dfdfe1;
    font-size: 16px;
}

.form-input .dropdown-city {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    font: inherit;
    color: inherit;
    text-transform: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    max-width: 545px;
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #dfdfe1;
    font-size: 16px;
}
