@using System.Security.Claims;
@model mojoin.ViewModel.ChangePasswordViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutDangtin.cshtml";
    <link href="~/css/createpost.css" rel="stylesheet" />
}
@{
    var identity = (ClaimsIdentity)User.Identity;

    // Lấy giá trị của các đối tượng Claim
    string userId = identity.FindFirst("UserId")?.Value;
}
<div class="create-post">
    <h2 class="title-div">Thay đổi mật khẩu</h2>
    <form asp-action="ChangePassword" asp-controller="MyAccount" name="myForm" ng-submit="updatePassword('Nhập lại mật khẩu không giống với mật khẩu')" novalidate="">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="UserId" value="@userId" />
        <div class="clearfix mg-form-group">
            <div class="label-item mg-form-label">
                Mật khẩu hiện tại<label class="label-requied">(*)</label>:
            </div>
            <div class="input-group">
                <input asp-for="PasswordNow" autocomplete="off" class="about-post" id="OldPassword" name="PasswordNow" ng-model="Profile.OldPassword" required="required" type="password">
                <!-- ngIf: myForm.OldPassword.$touched || myForm.$submitted -->
                <span asp-validation-for="PasswordNow" class="text-danger"></span>
            </div>
        </div>
        <div class="clearfix mg-form-group">
            <div class=" label-item mg-form-label">
                Mật khẩu mới<label class="label-requied">(*)</label>:
            </div>
            <div class="input-group">
                <input asp-for="Password" autocomplete="off" class="about-post" id="Password" name="Password" ng-model="Profile.Password" pattern="^[A-Za-z0-9!#$%^&amp;*]{6,50}$" required="required" type="password" value="">
                <!-- ngIf: myForm.Password.$touched || myForm.$submitted -->
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="clearfix mg-form-group">
            <div class="label-item mg-form-label">
                Nhập lại mật khẩu mới<label class="label-requied">(*)</label>:
            </div>
            <div class="input-group">
                <input asp-for="ConfirmPassword" autocomplete="off" class="about-post" id="ConfirmPassword" name="ConfirmPassword" ng-model="Profile.ConfirmPassword" required="required" type="password" value="">
                <!-- ngIf: myForm.ConfirmPassword.$touched || myForm.$submitted -->
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="clearfix mg-form-group">
            <div class="">
            </div>
            <div class="input-group">
                <button type="submit" class="btn btn-continue text-uppercase left-170">Cập nhật</button>
            </div>
        </div>
    </form>
</div>
