@model IEnumerable<mojoin.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDangtin.cshtml";
}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link href="~/css/createpost.css" rel="stylesheet" />
<div class="create-post">
    <div class="title-div">
        <h2 class="title-element">Quản lý tin</h2>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0" bis_skin_checked="1">
        <div class="dropdown mr-1" bis_skin_checked="1">
            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lọc theo loại VIP
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" bis_skin_checked="1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 27px, 0px);">
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=all&amp;package=vip50">Tin Hot</a>
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=all&amp;package=vip30">Tin VIP 30</a>
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=all&amp;package=vip20">Tin VIP 20</a>
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=all&amp;package=vip10">Tin VIP 10</a>
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=all&amp;package=normal">Tin thường</a>
            </div>
        </div>
        <div class="dropdown mr-1" bis_skin_checked="1">
            <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lọc theo trạng thái
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" bis_skin_checked="1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 27px, 0px);">
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=publish&amp;package=normal">Tin đang hiển thị</a>
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=expired&amp;package=normal">Tin hết hạn</a>
                <a class="dropdown-item" href="https://phongtro123.com/quan-ly/tin-dang.html?status=hidden&amp;package=normal">Tin đang ẩn</a>
            </div>
        </div>
        <a class="btn btn-danger btn-sm d-none d-md-block" href="https://phongtro123.com/quan-ly/dang-tin-moi.html">Đăng tin mới</a>
        <div class="d-lg-none" style="width: 100%;" bis_skin_checked="1"><a class="btn btn-danger btn-block mt-3" href="https://phongtro123.com/quan-ly/dang-tin-moi.html">Đăng tin mới</a></div>
    </div>
</div>

