@model IEnumerable<mojoin.Models.Room>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDangtin.cshtml";
    <link href="~/css/postmanagement.css" rel="stylesheet" />
}

<div class="post-manage">
    <h2 class="title-div">Quản lý tin</h2>
    <div class="property-tabs" id="">
        <ul class="noselect">
            <li id="active-select" class="select-post active" onclick="toggleTab('active')">
                Đang đăng
                <span class="num-post">(@ViewBag.dangdang)</span>
            </li>
            <li id="wait-select" class="select-post" onclick="toggleTab('wait')">
                Đang chờ
                <span class="num-post">(@ViewBag.dangcho)</span>
            </li>
            <li id="err-select" class="select-post" onclick="toggleTab('err')">
                Tin lỗi
                <span class="num-post">(@ViewBag.tinloi)</span>
            </li>
        </ul>
    </div>
    <div class="property-list" id="">
        <div id="active-list" class="tab-content active">
            @{
                    Html.RenderPartialAsync("~/Views/MyAccount/IndexPartial.cshtml");
            }
        </div>
        <div id="wait-list" class="tab-content">
            @{
                Html.RenderPartialAsync("~/Views/MyAccount/IndexPartial0.cshtml");
            }
        </div>
        <div id="err-list" class="tab-content">
            @{
                Html.RenderPartialAsync("~/Views/MyAccount/IndexPartial2.cshtml");
            }
        </div>
    </div>
</div>
<script>
    window.addEventListener('load', function () {
        var activeList = document.getElementById('active-list');
        activeList.style.display = 'block';
    });

    function toggleTab(tabId) {
        // Ẩn tất cả các tab-content và xóa lớp CSS "active" khỏi các select-post và tab-content
        var tabContents = document.getElementsByClassName("tab-content");
        for (var i = 0; i < tabContents.length; i++) {
            tabContents[i].style.display = "none";
        }

        var selectPosts = document.getElementsByClassName("select-post");
        for (var i = 0; i < selectPosts.length; i++) {
            selectPosts[i].classList.remove("active");
        }

        // Hiển thị tab-content và thêm lớp CSS "active" cho select-post tương ứng với tab được chọn
        var selectedTab = document.getElementById(tabId + "-list");
        selectedTab.style.display = "block";

        var selectedPost = document.getElementById(tabId + "-select");
        selectedPost.classList.add("active");
    }
</script>
    

