@* @{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Thanh toán VnPay tại <a href="https://code-mega.com">Code Mega</a></h1>
    <p>Learn about <a href="https://code-mega.com">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="table-responsive">

    <form action="/PaymentVnPay/CreatePaymentUrl" id="frmCreateOrder" method="POST">        
        <br />
        <div class="form-group">
            <label for="Name">Tên khách hàng</label>
            <input class="form-control"
                   id="Name"
                   name="Name"
                   type="text"
                   value="Code Mega">
        </div>
        <br />
        <div class="form-group">
            <label for="Amount">Số tiền</label>
            <input class="form-control"
                   id="Amount"
                   name="Amount"
                   type="text"
                   value="20000000">
        </div>
        <br />
        <div class="form-group">
            <label for="OrderDescription">Nội dung thanh toán</label>
            <textarea class="form-control"
                      cols="20"
                      id="OrderDescription"
                      name="OrderDescription"
                      rows="2">Thanh toán tại Code Mega</textarea>
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Thanh toán (Checkout)</button>
    </form>
</div> *@
@using System.Security.Claims;
@{
    ViewData["Title"] = "Home Page";
    var postUrl = "tich-hop-thanh-toan-momo-voi-asp-net-core-7d5e4hP";
}
@{
    var identity = (ClaimsIdentity)User.Identity;

    // Lấy giá trị của các đối tượng Claim
    string firstName = identity.FindFirst("FirstName")?.Value;
    string lastName = identity.FindFirst("LastName")?.Value;
    string userId = identity.FindFirst("UserId")?.Value;
    string userPhone = identity.FindFirst("UserPhone")?.Value;
    string userAvt = identity.FindFirst("UserAvatar")?.Value;
}
<div class="text-center">
    <h1 class="display-4">Thanh toán VnPay</h1>

    <div class="container">
        <div class="table-responsive">

            <form action="/PaymentVnPay/CreatePaymentUrl" id="frmCreateOrder" method="POST">
                <div class="form-group">
                    <label for="ordertype"> </label>
                    <input readonly class="form-control"
                           id="ordertype"
                           name="ordertype"
                           type="text"
                           value="Nạp tiền">
                </div>
                <br />
                <div class="form-group">
                    <label for="Name">Tên khách hàng</label>
                    <input readonly class="form-control"
                           id="Name"
                           name="Name"
                           type="text"
                           value="@lastName@firstName">
                </div>
                <br />
                <div class="form-group">
                    <label for="Amount">Số tiền</label>
                    @* <input class="form-control"
                           id="Amount"
                           name="Amount"
                           type="text"
                           value="20000000"> *@
                    <select name="Amount" id="Amount" class="form-control">
                        <option value="10.000">10.000</option>
                        <option value="50.000">50.000</option>
                        <option value="100.000">100.000</option>
                        <option value="200.000">200.000</option>
                        <option value="500.000">500.000</option>
                    </select>
                </div>
                <br />
                <div class="form-group">
                    <label for="OrderDescription">Nội dung thanh toán</label>
                    <textarea required class="form-control"
                              cols="20"
                              id="OrderDescription"
                              name="OrderDescription"
                              rows="2">@lastName@firstName Chuyen tien</textarea>
                </div>
                <br />
                <button type="submit" class="btn btn-primary">Thanh toán (Checkout)</button>
            </form>
        </div> 
    </div>
</div>

<script>
    $(document).ready(function () {

    });
</script>