@model mojoin.Models.Role

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@Html.AntiForgeryToken()
@Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="breadcrumb-item">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active">Thêm mới quyền truy cập</span>
        </nav>
    </div>
</div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card pt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8  text-black">
                        <h3>
                            Thêm mới quyền
                        </h3>
                    </div>
                    <div class="col-md-4 text-black text-right">
                        <a class="btn btn-info btn-tone btn-sm" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label>Tên quyền</label>
                            <input asp-for="RoleName" class="form-control" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary btn-tone" />
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

