@model mojoin.Models.Role

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="breadcrumb-item">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active">Chỉnh sửa quyền truy cập</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <h3 class="card-title col-md-8">Chỉnh sửa Quyền truy cập</h3>
            <div class="col-md-4 text-right">
                <a class="btn btn-info btn-tone m-r-5" asp-action="Index">Back to list</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="product-info-table m-t-20 table-bordered table-hover">
                <tbody>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="RolelD" />
                        <div class="form-group">
                            <label>Tên quyền</label>
                            <input asp-for="RoleName" class="form-control" />
                            <span asp-validation-for="RoleName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary btn-tone" />
                        </div>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
</div>

