@model IEnumerable<mojoin.Models.Role>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    <link href="~/admin_assets/css/table.css" rel="stylesheet" />
}
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <span class="breadcrumb-item active">Danh sách quyền truy cập</span>
        </nav>
    </div>
</div>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card pt-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-8 ">
                    </div>
                    <div class="col-md-4 text-right">
                        <a class="btn btn-success btn-tone m-r-5" asp-action="Create">Thêm</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive ">
                    <table id="myTable" class="table table-hover e-commerce-table">
                        <thead>
                            <tr>
                                <th scope="col">Tên quyền</th>
                                <th scope="col">Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        <a class="btn fa fa-eye text-primary" title="Details" asp-action="Details" asp-route-id="@item.RolelD"></a>
                                        <a class="btn fa fa-edit text-warning" title="Edit" asp-action="Edit" asp-route-id="@item.RolelD"></a>
                                        <a class="btn fa fa-trash text-danger" title="Delete" asp-action="Delete" asp-route-id="@item.RolelD"></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->

    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
