@model mojoin.ViewModel.ChangePasswordViewModel

<div class="change-user-partial">
    <form asp-controller="Account" asp-action="ChangePassword" method="post" class="change-user-form">
        <div class="myaccount-form-inner">
            <div class="single-input">
                <label>Mật khẩu hiện tại</label>
                <input asp-for="PasswordNow" type="password">
            </div>
            <div class="single-input">
                <label>Mật khẩu mới</label>
                <input asp-for="Password" type="password">
            </div>
            <div class="single-input">
                <label>Nhập lại mật khẩu mới</label>
                <input asp-for="ConfirmPassword" type="password">
            </div>
            <div class="single-input">
                <button class="btn btn-custom-size lg-size btn-secondary btn-primary-hover rounded-0" type="submit">
                    <span>Lưu thay đổi</span>
                </button>
            </div>
        </div>
    </form>
</div>
<div class="profile-content changepass clearfix">
    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" name="myForm" asp-controller="Account" asp-action="ChangePassword" method="post" novalidate="novalidate">

        <div class="col-sm-12">
            <div>
                <label class="titlename">Mật khẩu hiện tại</label>
                <input asp-for="PasswordNow" autocomplete="off" class="text-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" data-val="true" data-val-required="Vui lòng nhập “Mật khẩu hiện tại”." id="OldPassWord" name="OldPassWord" ng-model="Profile.OldPassWord" placeholder="Mật khẩu hiện tại" required="required" type="password" value="">
            </div>
        </div>
        <div class="col-sm-12">
            <div>
                <label class="titlename">Mật khẩu mới</label>
                <input input asp-for="Password" autocomplete="off" class="text-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" data-val="true" data-val-regex="“Mật khẩu mới” từ 6 đến 50 kí tự, chỉ gồm các ký tự (0-9, a-z, ~!@#$%^&amp;*)." data-val-regex-pattern="^[A-Za-z0-9!@#$%^&amp;*]{6,50}$" data-val-required="Vui lòng nhập “Mật khẩu mới”." id="Password" name="Password" ng-model="Profile.Password" pattern="^[A-Za-z0-9!@#$%^&amp;*]{6,50}$" placeholder="Mật khẩu mới" required="required" type="password" value="">
            </div>
        </div>
        <div class="col-sm-12">
            <div>
                <label class="titlename">Nhập lại mật khẩu mới</label>
                <input asp-for="ConfirmPassword" autocomplete="off" class="text-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" data-val="true" data-val-equalto="“Nhập lại mật khẩu” không giống với “Mật khẩu mới”" data-val-equalto-other="*.Password" data-val-required="Vui lòng nhập “Nhập lại mật khẩu”." id="ConfirmPassword" name="ConfirmPassword" ng-model="Profile.ConfirmPassword" placeholder="Nhập lại mật khẩu" required="required" type="password" value="">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="f-footer">
                <button type="submit" class="btn btn-primary left-170">Cập nhật</button>
            </div>
        </div>
    </form>
</div>