@model mojoin.ViewModel.ChangePasswordViewModel
<link href="~/css/profile_user.css" rel="stylesheet" />
<div class="profile-content changepass clearfix">
    <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-pattern" name="myForm" asp-controller="Account" asp-action="ChangePassword" method="post" novalidate="novalidate">

        <div class="col-sm-12">
            <div>
                <label class="titlename">Mật khẩu hiện tại</label>
                <input asp-for="PasswordNow" autocomplete="off" class="text-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" data-val="true" data-val-required="Vui lòng nhập “Mật khẩu hiện tại”." id="OldPassWord" name="OldPassWord" ng-model="Profile.OldPassWord" placeholder="Mật khẩu hiện tại" required="required" type="password" value="">
            </div>
        </div>
        <div class="col-sm-12">
            <div>
                <label class="titlename">Mật khẩu mới</label>
                <input input asp-for="Password" autocomplete="off" class="text-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required ng-valid-pattern" data-val="true" data-val-regex="“Mật khẩu mới” từ 6 đến 50 kí tự, chỉ gồm các ký tự (0-9, a-z, ~!#$%^&amp;*)." data-val-regex-pattern="^[A-Za-z0-9!#$%^&amp;*]{6,50}$" data-val-required="Vui lòng nhập “Mật khẩu mới”." id="Password" name="Password" ng-model="Profile.Password" pattern="^[A-Za-z0-9!#$%^&amp;*]{6,50}$" placeholder="Mật khẩu mới" required="required" type="password" value="">
            </div>
        </div>
        <div class="col-sm-12">
            <div>
                <label class="titlename">Nhập lại mật khẩu mới</label>
                <input asp-for="ConfirmPassword" autocomplete="off" class="text-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" data-val="true" data-val-equalto="“Nhập lại mật khẩu” không giống với “Mật khẩu mới”" data-val-equalto-other="*.Password" data-val-required="Vui lòng nhập “Nhập lại mật khẩu”." id="ConfirmPassword" name="ConfirmPassword" ng-model="Profile.ConfirmPassword" placeholder="Nhập lại mật khẩu" required="required" type="password" value="">
            </div>
        </div>
        <div class="col-sm-12">
            <div class="f-footer">
                <button type="submit" class="btn btn-custom-size left-170">Cập nhật</button>
            </div>
        </div>
    </form>
</div>