@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewData["Title"] = "YeuThichPartial";
    <link href="~/css/trangchu.css" rel="stylesheet" />
    <script src="~/js/site.js" ></script>
}

<div class="SaveAd_saveAdWrapper___sBMh AdItem_saveAd__3prt2 ">
    <a href="" id="btn_save_ad" onclick="yeuthich()" type="button" class="SaveAd_btnSavedAd__jwoYd ">
        <img id="img_save_ad" height="20" width="20" src="/images/save.png" alt="like" loading="lazy" data-saved="false">
    </a>
</div>

