@model mojoin.Models.User

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a asp-area="Admin" asp-controller="Staffs" asp-action="Index" class="breadcrumb-item">Danh sách nhân viên</a>
            <span class="breadcrumb-item active">Chỉnh sửa nhân viên</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <h3 class="card-title col-md-8">Chỉnh sửa nhân viên</h3>
            <div class="col-md-4 text-right">
                <a class="btn btn-info btn-tone m-r-5" asp-action="Index">Back to list</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="product-info-table m-t-20 table-bordered table-hover">
                <tbody>
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="UserId" />
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productCategory">Tên quyền</label>
                            <select asp-for="RolesId" class="custom-select" id="productCategory">
                                <option value="1" selected="">Admin</option>
                                <option value="2">Staff</option>
                                <option value="3">User</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Họ</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Tên </label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productCategory">Giới tính</label>
                            <select asp-for="Sex" class="custom-select" id="productCategory">
                                <option value="1" selected="">Nam</option>
                                <option value="2">Nữ</option>
                                <option value="3">Khác</option>

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Ngày sinh</label>
                            <input asp-for="Dateofbirth" class="form-control" />
                            <span asp-validation-for="Dateofbirth" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Avatar</label>
                            <input asp-for="Avatar" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-semibold" for="productCategory">Trạng thái hoạt động</label>
                            <select asp-for="IsActive" class="custom-select" id="productCategory">
                                <option value="true" selected="">Đang họat động </option>
                                <option value="false">Tạm ngưng</option>


                            </select>
                        </div>
                        <div class="form-group">
                            <label>InfoZalo</label>
                            <input asp-for="InfoZalo" class="form-control" />
                            <span asp-validation-for="InfoZalo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>InfoFacebook</label>
                            <input asp-for="InfoFacebook" class="form-control" />
                            <span asp-validation-for="InfoFacebook" class="text-danger"></span>
                        </div>


                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary btn-tone" />
                        </div>
                    </form>
                </tbody>
            </table>
        </div>
    </div>
</div>













